<h1>Create a new account</h1>

<form method="POST" action="/auth/sign-up">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" />

  <br />

  
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required />
  <br/>
<label for="image">Profile Image URL</label>
<input type="text" name="image" id="image" placeholder="Paste image here" />
<br/>
<label for="password">Password</label>
  <input type="password" name="password" id="password" />

  <br />
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" id="confirmPassword" />

  <br />

  <button type="submit">Sign up</button>
</form>
