<nav>
 
    <h1>Hi <%= user.username %></h1>
    <a href="/auth/sign-out">Sign out</a>
  <% } else { %>
    <h1>Welcome to the app, guest.</h1>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
  <% } %>
</nav>
