<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieMood</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
    <%- include('./partials/_navbar.ejs') %>
    <div class="index-page">
      <div class="index-left">
    <h1>MOVIE MOOD</h1>
    <h3>TRACK WHAT YOU WANT BASED ON YOUR VIBE</h3>
    <p>Find your next favorite film, plan the perfect movie night, and bring your mood to the screen — all with MovieMood!</p>

    <a href="/auth/sign-up"><button class="join-btn">Join Us ⟶</button></a>
  </div>
  </div>
  </body>
</html>
