 body {
  margin: 0;
  background-color: #10002b;
  color: white;
  font-family: "Arial", sans-serif;
 }

nav {
  background-color: #230046;
   padding: 1rem 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   
}
nav a{
  color:white;
  text-decoration:none;
  margin-right: 1rem;
  font-weight:bold;
  
}

.nav-right img{
  width: 40px;
  height:40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.nav-left{
  display:flex;
  align-items: center;
}
.nav-right{
  display:flex;
  align-items: center;
}

.nav-right span{
  margin-right: 1rem;
  font-weight: bold;
 
}

nav a:hover{
  text-decoration: underline;
}